/* <button class="button-4" role="button">Button 4</button> */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.quattrocento-sans-regular {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    overflow-x: hidden;
  }
title {
    display: none;
  }
.left-banner h4 {
    width: 100%;
    margin: 5px 0 0;
    font-size: 1.0em;
    text-align:center;
    font-family: "Quattrocento Sans", sans-serif;
}

h2 {
  width: 100%;
  text-align:center;
  font-family: "Quattrocento Sans", sans-serif;
}

.metac h1 {
    width: 100%;
    text-align:center;
    font-family: "Quattrocento Sans", sans-serif;
}

.center {
    text-align: center;
  }

.metac {
    background-color: rgb(45, 135, 94);
    width: 100%;
    height: 100vh; /* Full height */
    display: flex;
  }

.left-banner {
    display: flex;
    align-items: center;
    background-color: rgb(131, 216, 227); /* Background color */
    padding: 20px;
    width: 400px;
    height: 100vh; /* Full height */
    position: fixed;
    top: 0;
    left: 0;
}
.left-banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}


.left-banner h1 {
  margin-bottom: 0px;
  width: 100%;
  font-size: 2.5em;
  text-align:center;
  font-family: "Quattrocento Sans", sans-serif;
}

.right-banner h4 {
  width: 100%;
  margin: 5px 0 0 10px;
  font-size: 1.0em;
  text-align:center;
  font-family: "Quattrocento Sans", sans-serif;
}


.left-banner h3 {
  width: 100%;
  margin: 5px 0 0 10px;
  font-size: 1.2em;
  text-align:center;
  font-family: "Quattrocento Sans", sans-serif;
  font-style: italic;
  font-weight: lighter
}

.left-banner img {
  max-width: 70%;
  height: auto;
  border-radius: 50%; /* Makes the image round */
}


.right-banner {
  background-color: rgb(227, 201, 211); /* Background color */
  margin-left: 440px; 
  height:fit-content;
 
  display :block
}

.right-banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  margin-left: 5px;
  margin-right: 20px;
  width: 97%;
  /* width:fit-content; */
}

.right-banner h1 {
  margin: 5px 0 0 10px;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bold;
}


.right-banner .banner-description {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  /* margin-right: 30px; */
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.8em;
  text-align: left;
  /* width: 40%; */

}


.right-banner .top-banner {
  /* width: 100%; */
  height: 100px;
  background-color: rgb(193, 180, 185);
  /* margin-bottom: 20px; */
   

}


.right-banner h2 {
  width: 100%;
  font-size: 2.0em;
  text-align: left;
  font-family: "Quattrocento Sans", sans-serif;
}



a.btn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 100px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: hsl(295, 68%, 16%);
  cursor: pointer;
  display: inline-block;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-decoration: none;
}

a.btn:hover {
  background-color: rgb(227, 201, 211);
  text-decoration: none;
  transition-duration: 0.1s;
}

a.btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

a.btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

a.btn:focus {
  outline: 1px transparent;
}

a.btn:before {
  display: none;
}

a.btn:-webkit-details-marker {
  display: none;
}


.button-container {
  display: inline-block;
  margin-bottom: 10px;
}


.banner-content .seven h1 {
    text-align: center;
    font-size:70px; font-weight:300; color:#353b3b; letter-spacing:1px;
    text-transform: uppercase;
    font-weight: bold;
    display: grid;
    grid-template-columns:1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-top: 20px;
}


.banner-content .seven h1:after,.banner-content .seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid  rgb(87, 143, 150);
    border-top: 1px solid  rgb(74, 91, 93);
    height: 5px;
   background-color: rgb(227, 201, 211);
}


.banner-content .seven h2 {
  width: 100%;
  font-size: 3.4em;
  text-align: left;
  margin-left: 30px;
  font-weight: bold;
  font-style: italic; 
  font-family: "Quattrocento Sans", sans-serif;
  color:#3e3e3e;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center_html {

  width: 50%;
}

.float-container {
    /* border: 3px solid #fff; */
    width: 100%;
}
.float-child {
    width: 45%;
    float: left;
    /* border: 2px solid red; */
    overflow-wrap: break-word;
}   

.float-child_left {
    width: 400px;
    float: left;
    margin-left: 150px;
    /* border: 2px solid red; */
    overflow-wrap: break-word;
}   